* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


header{
    background-color: #ffffff;
    width: 100%;
    height: 80px;
}

.header-buscador-marco {
    height: 40px;
    border: 1px solid #CCCCCC;
    width: 70%;
    border-radius: 6px;
    display: flex;
    justify-content:space-between;
    align-items: center;  
    padding-left: 5px;
    padding-right: 15px;
}

.header-buscador-marco input{
    width: 90%;
    height: 30px;
    border: 0;
    color: #062818;
}

.header-buscador-marco input:focus{
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-contenedor {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid rgb(203, 133, 21);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 225, 190);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-grupo {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #04342b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saludo {
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(203, 133, 21);
    border-radius: 10px;
}



.iconos {
    display: flex;
    flex-direction: row;
}

#iconoCarrito {
    font-size: 2rem;
}
#badgeCarrito{
    font-size: 0.8rem;
}

.logo p{
    justify-self: center;
    align-items: center;
    gap: 2rem;
    color: rgb(220, 166, 79);
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.5rem;

}


a{
    color: #04342b;
}

body{
    background-color: #0f5132 ;
}

.main {
    margin-top: 100px;
}




footer {
    background-color: #4a7c77e6;
    text-decoration: none;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
    height: 10.688rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    margin-top: 20px;
    
}
    .redes{
        
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }
        .redes a , .location-pin a {
            margin-left: 0.625rem;
            text-decoration: none;
            color: white;

        }
    

    .logo-chico {
        margin-right: 1.25rem;

    }

    .precio{
        font-size: 2rem;
    }

    .carr{
        background-color: #04342b;
        border-color: white;
        color: white;
    }

.h1200 {
    height: 1200px;
}
.h200 {
    height: 200px;
}
.h60 {
    height: 60px;
}

/* Producto */

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.h-150 {
    height: 150px;
}